run = "npm run dev"
entrypoint = "server/index.ts"
modules = ["nodejs-20", "web", "nix"]

hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run build && npm start"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm install"]

[[ports]]
localPort = 5000
externalPort = 80
